h1 {
    color: blueviolet;
    border: 5px solid red;
   
}
p{
    border: 5px solid black;
    background-color: blueviolet;
}
h2{
    color:darkorange ;
    background-color: black;
}
#img1   {
    border: 5px solid rebeccapurple;
  
}
.items{ 
    background-color: blue;
}
